.form {
    display: flex;
    gap: 8px;
    margin-top: 32px;
    margin-left: 156px;
}

input {
    box-sizing: border-box;
    width: 272px;
    height: 40px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #808080;
    padding-left: 16px;
}

button {
    width: 75px;
    height: 40px;
    border-radius:8px;
    background-color: #CFCFCF;
    color: #989898;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.64px;
    border: none;
}

.timer {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    width: 346px;
    margin-top: 32px;
    margin-left: 156px;
}

.field {
    display: flex;
    flex-wrap: wrap;
}

.value {
    color: #2E2F42;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;  /* 120% */
    letter-spacing: 1.6px;
}

.label {
    color: #2E2F42;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;     /* 150% */
}